<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>토스트 메시지</title>
<link rel="stylesheet" href="/css/toast.css">
</head>
<body>

<button id="toastButton">토스트 메시지 보이기</button>
<div class="toast" id="toastMessage">
    <div id="toastTitle" class="wrap-text font-24 bold" style="margin-top: 40px;">
        
    </div>
    <div id="toastContent" class="wrap-text font-20" style="margin-top: 30px;">
        
    </div>
    <div id="button-wrap" class="wrap-text font-20" style="margin-top: 30px;">
        <div  class="wrap-button" style="margin-top: 25px;">
        <button id="cancel" class="button-cancel">
            
        </button>
        <button id="ok" class="button-ok" style="margin-left: 15px;">
            
        </button>
    </div>
</div>

<script src="/toastScript.js"></script>

</body>
</html>
