.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid #ba6;
  }
  .custom-btn:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  .btn-1 {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: linear-gradient(180deg, #03C75A 0%, #02a353 49%, #027a47 51%, #02a353 100%); /* 변경된 배경색 */
    border-radius: 5px;
  }